<div *ngIf="!plates" class="d-flex justify-content-center m-5">
    <mat-progress-spinner
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div class="d-flex flex-row w-100 flex-wrap justify-content-center" *ngIf="plates">
    <div class="w-100 my-2">
        <h1 class="h4">{{title}}</h1>
        <h6 *ngIf="plates">{{plates.length}}</h6>
    </div>

    <div *ngFor="let plate of plates">
    <mat-card class="m-3" style="width: 208px;">

        <mat-card-content class="list-group text-center">
            <!-- <li class="list-group-item border-0 mat-elevation-z4 rounded">
              <img src="https://www.apnaplates.com/plates/smallimg/{{plate.small_image}}">
            </li> -->
            <div class="account-circle">
              <span class="material-icons">
                account_circle
              </span>
            </div>

            <div class="views">
              <span id="circle" data-toggle="tooltip" title="Page Views">
                {{plate.page_views}}
              </span>
            </div>

            <div class="listed-on">
              <span id="rectangle" data-toggle="tooltip" title="Listed on this date">
                {{plate.created_date | date}}
              </span>
            </div>

            <div class="flag">
              <img src="../../assets/flags/india.svg">
            </div>

            <li class="list-group-item border-0 py-0 mt-3" style="background: transparent;">
              <!-- <b>Plate: </b> -->
              <span class="plate-css text-uppercase mat-elevation-z4">
                {{plate.plate_id}}
              </span>
            </li>
            <br>
            <li class="list-group-item border-0 py-0 my-1">
              <b>Asking Price: </b>
              £{{plate.asking_price}}
            </li>
            <li class="list-group-item border-0 py-0 text-truncate "
                style="font-size: 9px;">
                {{plate.meaning}}
            </li>
        </mat-card-content>

        <mat-card-footer class="pb-2">
          <hr>
          <div class="d-flex justify-content-center">
            <button
              [matBadgeHidden]="plate.sellercontacted === '0'"
              matBadge="{{plate.sellercontacted}}"
              matBadgePosition="before"
              matBadgeColor="accent"
              data-toggle="tooltip"
              data-placement="top"
              title="Seller contacted"
              mat-raised-button color="primary">
              Message Seller
            </button>
          </div>
          <hr>
          <div class="d-flex justify-content-around mt-1">
            <button mat-raised-button>Save</button>
            <button mat-raised-button>
              <span class="material-icons">share</span>
              Share
            </button>
          </div>
          <!-- <hr> -->
          <!-- <div class="d-flex justify-content-center">
            <div style="font-size: 9px;">
              <b>Listed on: </b>
              {{plate.created_date | date}}
            </div>
          </div> -->
        </mat-card-footer>

        <!-- <mat-accordion>
            <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Details</mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
                <div class="h6 text-center">
                <li>ID: {{plate.id}}</li>
                <li>Page views: {{plate.page_views}}</li>
                <li>Email to friend: {{plate.emailtofriendcount}}</li>
                <li>Seller contacted: {{plate.sellercontacted}}</li>
                <li>Created date: {{plate.created_date}}</li>
                <li>Date created: {{plate.date_created}}</li>
                <li>Status: {{plate.status}}</li>
                <li>Sold: {{plate.sold}}</li>
                <li>Meaning: {{plate.meaning}}</li>
                <li>Label: {{plate.label}}</li>
                <li>Url: <a href="{{plate.url}}" target="_blank">{{plate.url}}</a></li>
                </div>
            </mat-expansion-panel>
        </mat-accordion> -->

        </mat-card>
    </div>
  </div>

  <!-- <div id="plate-card" class="my-2" *ngIf="plates">
    <h1 class="h4">{{title}}</h1>
    <h6 *ngIf="plates">{{plates.length}}</h6>

    <span class="" *ngFor="let plate of plates">
    <ul class="d-flex flex-row list-unstyled" style="width: 300px;">
      <mat-card class="mat-elevation-z8 m-3">

        <div class="text-center">
          <li><img src="https://www.apnaplates.com/plates/smallimg/{{plate.small_image}}"></li>
          <li>Plate:
            <span class="text-uppercase">{{plate.plate_id}}</span>
          </li>
          <li>Asking price: £{{plate.asking_price}}</li>
        </div>

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>Details</mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
              <div class="h6 text-center">
                <li>ID: {{plate.id}}</li>
                <li>Page views: {{plate.page_views}}</li>
                <li>Email to friend: {{plate.emailtofriendcount}}</li>
                <li>Seller contacted: {{plate.sellercontacted}}</li>
                <li>Created date: {{plate.created_date}}</li>
                <li>Date created: {{plate.date_created}}</li>
                <li>Status: {{plate.status}}</li>
                <li>Sold: {{plate.sold}}</li>
                <li>Meaning: {{plate.meaning}}</li>
                <li>Label: {{plate.label}}</li>
                <li>Url: <a href="{{plate.url}}" target="_blank">{{plate.url}}</a></li>
              </div>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-card>
    </ul>
    </span>

  </div> -->
